KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/arch/arch.o \
$(ARCHDIR)/arch/arch_asm.o \
$(ARCHDIR)/arch/gdt.o \
$(ARCHDIR)/arch/gdt_asm.o \
$(ARCHDIR)/arch/idt.o \
$(ARCHDIR)/arch/idt_asm.o \
$(ARCHDIR)/arch/isr.o \
$(ARCHDIR)/arch/isrs_gen.o \
$(ARCHDIR)/arch/isr_asm.o \
$(ARCHDIR)/arch/irq.o \
$(ARCHDIR)/arch/i8259_pic.o \
$(ARCHDIR)/io/framebuffer.o \
$(ARCHDIR)/io/io.o \
$(ARCHDIR)/io/serial.o \
